@import url('https://fonts.googleapis.com/css2?family=Borel&family=Outfit:wght@100..900&display=swap');

:root {
  --content-max-height: calc(100dvh - 48px);
  --table-height: calc(100dvh - 48px);
  --preset-content-max-height: calc(100dvh - 100px);
  --filter-content-max-height: calc(100dvh / 3);
  --font-outfit: 'Outfit', serif;

  /* colors for chart */
  --colors-up: royalblue;
  --colors-down: deeppink;
  --colors-rs-new-high-before-price: rgb(0, 200, 0, 0.25);
  --colors-rs-new-high: rgb(0, 0, 0, 0.25);
}

body {
  padding: 0;
  min-width: 380px;
  font-optical-sizing: auto;
  font-variant-numeric: lining-nums tabular-nums;
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--chakra-colors-gray-300) var(--chakra-colors-gray-50);
}

.resize-handle {
  display: flex;
  align-items: center;
  width: 4px;
  background-color: var(--chakra-colors-gray-100);
  &.portrait {
    width: 100%;
    height: 4px;
  }
}

.resize-handle[data-resize-handle-state='hover'] {
  background-color: var(--chakra-colors-gray-200);
}

.resize-handle[data-resize-handle-state='drag'] {
  background-color: var(--chakra-colors-gray-500);
}

.sort-icon {
  color: var(--chakra-colors-gray-500);
}

.grid-area {
  max-width: 100%;
  overflow: auto;
  white-space: nowrap;
  position: relative;
  will-change: transform;
}

.radio-wrapper:has(.radio:checked),
.radio-wrapper:hover {
  background-color: var(--chakra-colors-gray-100);
  cursor: pointer;
}

.checkbox-wrapper:has(.checkbox:checked),
.checkbox-wrapper:hover {
  background-color: var(--chakra-colors-gray-100);
  cursor: pointer;
}

.filter-selection-item:hover {
  background-color: var(--chakra-colors-gray-100);
}

.highlight {
  color: var(--chakra-colors-red-500);
  font-weight: 500;
}

.close-link {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: var(--chakra-colors-black);
  }
}

.grid {
  display: grid;
  font-size: 14px;
}

.grid-row,
.grid-row-header {
  display: grid;
  grid-template-columns: subgrid;
}

.grid-row-header {
  position: sticky;
  top: 0;
  z-index: 3;
}

.grid-header-cell {
  border-bottom: 1px solid var(--chakra-colors-gray-200);
  background: var(--chakra-colors-white);
  font-weight: 500;
  text-align: left;
  padding: 8px;
  &.sort {
    cursor: pointer;
  }
  &.sort:hover {
    background-color: var(--chakra-colors-gray-50);
  }
  &.pinned {
    position: sticky;
    border-right: 1px solid var(--chakra-colors-gray-200);
    left: 0;
    z-index: 3;
    padding-left: 12px;
  }
}

.grid-header-cell:hover {
  .sort-icon {
    color: var(--chakra-colors-black);
  }
}

.grid-row:hover,
.grid-row.active {
  cursor: pointer;
  background-color: var(--chakra-colors-gray-50);
  & > div:first-child {
    font-weight: 500;
    background-color: var(--chakra-colors-gray-50);
  }
}

.grid-row.active > div:first-child {
  background-color: var(--chakra-colors-gray-600);
  color: var(--chakra-colors-white);
  .highlight {
    color: var(--chakra-colors-white);
    font-weight: 500;
  }
}

.grid-data-cell {
  padding: 4px 8px;
  border-bottom: 1px solid var(--chakra-colors-gray-200);
  &.pinned {
    position: sticky;
    border-right: 1px solid var(--chakra-colors-gray-200);
    background-color: var(--chakra-colors-white);
    left: 0;
    z-index: 1;
    padding-left: 12px;
  }
}

.filter-icon:hover {
  color: var(--chakra-colors-black);
}

.export-icon:hover {
  color: var(--chakra-colors-black);
}

.sort-icon:has(~ .filter-icon:hover),
.sort-icon:has(~ .export-icon:hover) {
  color: var(--chakra-colors-gray-300);
}

.week-range-wrapper {
  height: 4px;
  background-color: var(--chakra-colors-gray-200);
  position: relative;
  margin-top: 2px;
  padding-right: 4px;
}

.week-range {
  height: 4px;
  width: 4px;
  background-color: var(--chakra-colors-black);
}

.data-panel-group {
  min-height: var(--content-max-height);
  max-height: var(--content-max-height);
  position: relative;
}

.chart-series-tooltip {
  font-size: 12px !important;
  font-family: var(--font-outfit) !important;
  white-space: nowrap;
  background-color: var(--chakra-colors-white);
}

.chart-series-tooltip span[class^='change-'],
.chart-stock-info span[class^='change-'] {
  color: var(--chakra-colors-red-500);
}

.chart-price-tooltip {
  font-family: var(--font-outfit) !important;
  margin-top: 36px;
}

.chart-date-tooltip {
  color: var(--chakra-colors-white);
  white-space: nowrap;
  background-color: var(--chakra-colors-black);
  padding: 4px;
  margin-top: -6px;
}

.chart-rs-rating {
  font-family: var(--font-outfit) !important;
  font-size: 12px !important;
  background-color: var(--chakra-colors-white-alpha-800);
}

div[data-highcharts-chart] {
  height: var(--chart-height);
}

.marquee-wrapper {
  position: absolute;
  top: 0;
  z-index: 1;
  padding: 8px;
  padding-top: 12px;
  left: 90px;
  right: 40px;
  overflow: hidden;
  font-size: 14px;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 10s linear infinite;
}

.marquee p {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  & span {
    color: var(--chakra-colors-gray-500);
  }
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

/* css for new chart*/
.tick-value {
  font-size: 12px;
}

.stock-chart {
  height: 100%;
  overflow: hidden;
  position: relative;
  &[data-loading=true] {
    opacity: 0.4;
  }
}
