@import url('https://fonts.googleapis.com/css2?family=Borel&family=Outfit:wght@100..900&display=swap');

:root {
  --content-max-height: calc(100dvh - 48px);
  --table-height: calc(100dvh - 48px);
  --preset-content-max-height: calc(100dvh - 100px);
  --filter-content-max-height: calc(100dvh / 3);
  --font-outfit: 'Outfit', serif;

  /* colors for chart */
  --colors-rs-new-high-before-price: rgb(0, 200, 0, 0.4);
  --colors-rs-new-high: rgba(240, 20, 255, 0.4);

  /* color for light theme */
  --colors-scroll-bar: var(--chakra-colors-gray-300) var(--chakra-colors-gray-50);
  --colors-selection-hover: var(--chakra-colors-gray-100);
  --colors-cell-bg: var(--chakra-colors-white);
  --colors-cell-hover-bg: var(--chakra-colors-gray-50);
  --colors-icon: var(--chakra-colors-gray-300);
  --colors-icon-hover: var(--chakra-colors-black);
}

/* color for dark theme */
:root.dark {
  --colors-scroll-bar: unset;
  --colors-selection-hover: var(--chakra-colors-gray-800);
  --colors-cell-bg: var(--chakra-colors-black);
  --colors-cell-hover-bg: var(--chakra-colors-gray-800);
  --colors-icon: var(--chakra-colors-gray-700);
  --colors-icon-hover: var(--chakra-colors-white);
}

body {
  padding: 0;
  min-width: 380px;
  font-optical-sizing: auto;
  font-variant-numeric: lining-nums tabular-nums;
  -webkit-touch-callout: none; /* Safari */
  -webkit-user-select: none; /* Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--colors-scroll-bar);
}

.resize-handle {
  display: flex;
  align-items: center;
  width: 4px;
  background-color: var(--chakra-colors-border);
  &.portrait {
    width: 100%;
    height: 4px;
  }
}

.resize-handle[data-resize-handle-state='hover'] {
  background-color: var(--chakra-colors-gray-500);
}

.resize-handle[data-resize-handle-state='drag'] {
  background-color: var(--chakra-colors-gray-500);
}

.grid-area {
  max-width: 100%;
  overflow: auto;
  white-space: nowrap;
  position: relative;
  will-change: transform;
}

.radio-wrapper:has(.radio:checked),
.radio-wrapper:hover {
  background-color: var(--colors-selection-hover);
  cursor: pointer;
}

.checkbox-wrapper:has(.checkbox:checked),
.checkbox-wrapper:hover {
  background-color: var(--colors-selection-hover);
  cursor: pointer;
}

.filter-selection-item:hover {
  background-color: var(--colors-selection-hover);
}

.highlight {
  color: var(--chakra-colors-red-500);
  font-weight: 500;
}

.close-link {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.grid {
  display: grid;
  font-size: 14px;
}

.grid-row,
.grid-row-header {
  display: grid;
  grid-template-columns: subgrid;
}

.grid-row-header {
  position: sticky;
  top: 0;
  z-index: 3;
}

.grid-header-cell {
  border-bottom: 1px solid var(--chakra-colors-border);
  background: var(--colors-cell-bg);
  font-weight: 500;
  text-align: left;
  padding: 8px;
  &.sortable {
    cursor: pointer;
  }
  &.sortable:hover {
    background-color: var(--colors-cell-hover-bg);
  }
  &.pinned {
    position: sticky;
    border-right: 1px solid var(--chakra-colors-border);
    left: 0;
    z-index: 3;
    padding-left: 12px;
  }
}

.grid-header-cell:hover {
  .sort-icon {
    color: var(--colors-icon-hover);
  }
}

.grid-row:hover,
.grid-row.active {
  cursor: pointer;
  background-color: var(--colors-cell-hover-bg);
  & > div:first-child {
    font-weight: 500;
    background-color: var(--colors-cell-hover-bg);
  }
}

.grid-row.active > div:first-child {
  background-color: var(--chakra-colors-gray-600);
  color: var(--chakra-colors-white);
  .highlight {
    color: var(--chakra-colors-white);
    font-weight: 500;
  }
}

.grid-data-cell {
  padding: 4px 8px;
  border-bottom: 1px solid var(--chakra-colors-border);
  &.pinned {
    position: sticky;
    border-right: 1px solid var(--chakra-colors-border);
    background-color: var(--colors-cell-bg);
    left: 0;
    z-index: 1;
    padding-left: 12px;
  }
}

.sort-icon:has(~ .filter-icon:hover) {
  color: var(--colors-icon);
}

.week-range-wrapper {
  height: 4px;
  background-color: var(--chakra-colors-gray-200);
  position: relative;
  margin-top: 2px;
  padding-right: 4px;
}

.week-range {
  height: 4px;
  width: 4px;
  background-color: var(--chakra-colors-black);
}

.data-panel-group {
  min-height: var(--content-max-height);
  max-height: var(--content-max-height);
  position: relative;
}

/* css for new chart*/
.stock-chart {
  flex-grow: 1;
  position: relative;
  touch-action: none;
  &[data-loading='true'] {
    opacity: 0.2;
  }
}
