@import url('https://fonts.googleapis.com/css2?family=Borel&family=Outfit:wght@100..900&display=swap');

:root {
  --content-max-height: calc(100svh - 48px);
}

body {
  padding: 0;
  min-width: 380px;
  font-family: 'Outfit', serif;
  font-optical-sizing: auto;
  font-variant-numeric: lining-nums tabular-nums;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Outfit', serif;
  font-optical-sizing: auto;
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--chakra-colors-gray-300) var(--chakra-colors-gray-50);
}

.borel-regular {
  font-family: 'Borel', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.chart-max-height {
  min-height: var(--content-max-height);
  max-height: var(--content-max-height);
  position: relative;
}

.resize-handle {
  display: flex;
  align-items: center;
  width: 4px;
  background-color: var(--chakra-colors-gray-100);
}

.resize-handle[data-resize-handle-state='hover'] {
  background-color: var(--chakra-colors-gray-200);
}

.resize-handle[data-resize-handle-state='drag'] {
  background-color: var(--chakra-colors-gray-500);
}

.sort-icon {
  color: var(--chakra-colors-gray-500);
}

.grid-area {
  max-width: 100%;
  min-height: var(--content-max-height);
  max-height: var(--content-max-height);
  overflow: auto;
  white-space: nowrap;
  position: relative;
  will-change: transform;
}

.radio-wrapper:has(.radio:checked),
.radio-wrapper:hover {
  background-color: var(--chakra-colors-gray-100);
  cursor: pointer;
}

.filter-selection-item:hover {
  background-color: var(--chakra-colors-gray-100);
}

.highlight {
  color: var(--chakra-colors-red-500);
  font-weight: 500;
}

.close-link {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: var(--chakra-colors-black);
  }
}

.grid {
  display: grid;
  font-size: 14px;
}

.grid-row,
.grid-row-header {
  display: grid;
  grid-template-columns: subgrid;
}

.grid-row-header {
  position: sticky;
  top: 0;
  z-index: 3;
}

.grid-header-cell {
  border-bottom: 1px solid var(--chakra-colors-gray-200);
  background: var(--chakra-colors-white);
  font-weight: 500;
  text-align: left;
  padding: 8px 4px 8px 8px;
  &:last-child {
    padding-right: 8px;
  }
  &.sort {
    cursor: pointer;
  }
  &.sort:hover {
    background-color: var(--chakra-colors-gray-50);
  }
  &.pinned {
    position: sticky;
    border-right: 1px solid var(--chakra-colors-gray-200);
    left: 0;
    z-index: 3;
    padding-left: 12px;
  }
}

.grid-header-cell:hover {
  .sort-icon {
    color: var(--chakra-colors-black);
  }
}

.grid-row:hover,
.grid-row.active {
  cursor: pointer;
  background-color: var(--chakra-colors-gray-50);
  & > div:first-child {
    font-weight: 500;
    background-color: var(--chakra-colors-gray-50);
  }
}

.grid-row.active > div:first-child {
  background-color: var(--chakra-colors-gray-600);
  color: var(--chakra-colors-white);
}

.grid-cell {
  vertical-align: top;
  padding: 4px 8px;
  border-bottom: 1px solid var(--chakra-colors-gray-200);
  &.pinned {
    position: sticky;
    border-right: 1px solid var(--chakra-colors-gray-200);
    background-color: var(--chakra-colors-white);
    left: 0;
    z-index: 1;
    padding-left: 12px;
  }
}

.filter-icon:hover {
  color: var(--chakra-colors-black);
}

.sort-icon:has(~ .filter-icon:hover) {
  color: var(--chakra-colors-gray-300);
}

.chart-series-tooltip {
  font-size: 12px !important;
  font-family: 'Outfit', serif !important;
  white-space: nowrap;
  background-color: var(--chakra-colors-white);
}

.chart-series-tooltip span[class^='change-'],
.chart-stock-info span[class^='change-'] {
  color: var(--chakra-colors-red-500);
}

.chart-price-tooltip {
  font-family: 'Outfit', serif !important;
  margin-top: 36px;
}

.chart-date-tooltip {
  color: var(--chakra-colors-white);
  white-space: nowrap;
  background-color: var(--chakra-colors-black);
  padding: 4px;
  margin-top: -6px;
}

.chart-rs-rating {
  font-family: 'Outfit', serif !important;
  font-size: 12px !important;
  background-color: rgb(255, 255, 255, 0.8);
}
