@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

:root {
  --content-max-height: calc(100svh - 48px);
}

body {
  padding: 0;
}

.borel-regular {
  font-family: 'Borel', serif;
  font-weight: 400;
  font-style: normal;
}

.chart-max-height {
  max-height: var(--content-max-height);
  position: relative;
}

.resize-handle {
  display: flex;
  align-items: center;
  width: 4px;
}

.resize-handle[data-resize-handle-state='hover'] {
  background-color: var(--chakra-colors-gray-200);
}

.resize-handle[data-resize-handle-state='drag'] {
  background-color: var(--chakra-colors-gray-500);
}

.sort-icon {
  color: var(--chakra-colors-gray-500);
}

.table-area {
  max-width: 100%;
  max-height: var(--content-max-height);
  overflow: auto;
  white-space: nowrap;
  position: relative;
  will-change: transform;
}

.table {
  font-size: 14px;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: separate;
  thead {
    position: sticky;
    top: 0;
    z-index: 3;
  }
}

.table-header {
  border-top: 1px solid var(--chakra-colors-gray-200);
  border-bottom: 1px solid var(--chakra-colors-gray-200);
  background: var(--chakra-colors-white);
  font-weight: 500;
  height: 40px;
  text-align: left;
  padding-left: 8px;
  padding-right: 4px;
  &:last-child {
    padding-right: 8px;
  }
}

.table-header.sort {
  cursor: pointer;
}

.table-header.pinned {
  position: sticky;
  border-right: 1px solid var(--chakra-colors-gray-200);
  left: 0;
  z-index: 3;
  padding-left: 12px;
}

.table-header.sort:hover {
  background-color: var(--chakra-colors-gray-50);
}

.table-header:hover {
  .sort-icon {
    color: var(--chakra-colors-black);
  }
}

.table-row td {
  vertical-align: top;
  padding: 4px 8px;
  border-bottom: 1px solid var(--chakra-colors-gray-200);
  &.pinned {
    position: sticky;
    border-right: 1px solid var(--chakra-colors-gray-200);
    left: 0;
    z-index: 1;
    padding-left: 12px;
  }
}

.table-row > td:first-child {
  background-color: var(--chakra-colors-white);
}

.table-row:hover,
.table-row.active {
  cursor: pointer;
  background-color: var(--chakra-colors-gray-50);
  & > td:first-child {
    font-weight: 500;
    background-color: var(--chakra-colors-gray-50);
  }
}

.table-row.active > td:first-child {
  background-color: var(--chakra-colors-gray-600);
  color: var(--chakra-colors-white);
}

.filter-icon:hover {
  color: var(--chakra-colors-black);
}

.sort-icon:has(~ .filter-icon:hover) {
  color: var(--chakra-colors-gray-300);
}

/* .radio-wrapper {
  border: 1px solid transparent;
} */

.radio-wrapper:has(.radio:checked),
.radio-wrapper:hover {
  background-color: var(--chakra-colors-gray-100);
  /* border: 1px solid var(--chakra-colors-gray-500); */
  cursor: pointer;
}

.filter-selection-item:hover {
  background-color: var(--chakra-colors-gray-100);
}

.highlight {
  color: var(--chakra-colors-red-500);
  font-weight: 500;
}

/* @media only screen and (max-device-width: 812px) and (orientation: portrait) {
  .table-area {
    max-height: calc(100vh - 100px);
  }
}

@media only screen and (max-device-width: 812px) and (orientation: landscape) {
  .table-area {
    max-height: calc(100vh - 100px);
  }
} */
